
#mainpage {
    background-color: rgb(153, 153, 153); 
    color: rgb(204, 99, 0); 
}

#searchbar_movie {
    background-color: rgb(51, 51, 51); 
    color: rgb(204, 99, 0); 
    float: left;
    width:60%;
}

#searchbar_book {
    background-color: rgb(60, 60, 60); 
    color: rgb(204, 99, 0); 
    float: left;
    width:40%; 
}

input[type=submit] {
    color: rgb(204, 99, 0); 
}

.movie_frame {
  

    background-color: rgb(100, 100, 100); 
    width:60%;
}

.book_frame {

    background-color: rgb(100, 100, 100);  
    width:40%;

}


.movie_info_block {

    float : left ; 
    width :50%;
    
}

.movie_sub_title {

    float: left; 
    width : 25%;
}

.movie_sub_value {
 
    float: left; 
    width : 75%;

}


.movie_sub_title2 {

    display : inline-block;
    width : 25%;
}

.movie_sub_title2 {

    display : inline-block; 
    width : 75%;
}

